---
layout: default
---
<div class="mx-auto max-w-2xl lg:max-w-7xl">
  <h1 class="md:mt-16 text-5xl font-bold tracking-tight text-zinc-800 dark:text-zinc-100">
    <%= resource.data.title %>
  </h1>
  <div class="mt-16 dark:text-slate-400 text-base text-zinc-600 space-y-4">
    <%= yield %>
  </div>
</div>
