<nav class="">
  <div class="mx-auto max-w-7xl">
    <div class="relative flex h-16 justify-between">
      <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
        <div class="w-fit invisible sm:visible flex flex-shrink-0 items-center">
            <a href="/" class="">
                <img class="h-20 w-full" src="/images/stephanie_wilkinson.svg" alt="Your Company">
            </a>
        </div>
      </div>
      <div class="sm:ml-6 text-xs md:text-lg sm:flex sm:space-x-8">
        <a href="<%= relative_url '/projects' %>" class="inline-flex items-center border-b-2 border-transparent px-1 pt-1 font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700">Projects</a>
        <a href="<%= relative_url '/community' %>" class="inline-flex items-center border-b-2 border-transparent px-1 pt-1 font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700">Community Work</a>
        <a href="<%= relative_url '/presentations' %>" class="inline-flex items-center border-b-2 border-transparent px-1 pt-1 font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700">Presentations</a>
        <a href="<%= relative_url '/posts' %>" class="inline-flex items-center border-b-2 border-transparent px-1 pt-1 font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700">Blog</a>
      </div>
    </div>
  </div>
</nav>
