body {
    font-family: "Lora";
}

h1 {
    font-family: "Lato";
    font-size: 4rem !important;
}
h2 {
    font-family: "Lato";
    font-size: 3em !important;
}
h3 {
    font-family: "Lato";
    font-size: 2em !important;
}

a {
    cursor: pointer !important;
}

a:hover {
    text-decoration: underline !important;
}
